.monthGrid TABLE {
	WIDTH: 100%
}   
.monthGrid THEAD TR TD {
	TEXT-ALIGN: center; 
	PADDING-BOTTOM: 4px; 
	BACKGROUND-COLOR: #ebebeb; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px;
 	COLOR: #444; 
	VERTICAL-ALIGN: top; FONT-WEIGHT: bold; PADDING-TOP: 4px
}
.monthGrid TBODY TR TD {
	BACKGROUND-COLOR: #fff; VERTICAL-ALIGN: top
}  
.monthGrid TD.firstCol {
	BORDER-LEFT: #bfbfbf 1px solid; 
}
.monthGrid TD.weekday {
	BORDER-TOP: #bfbfbf 1px solid; 
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid
} 
.monthGrid TD.contentday {
 
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid;
	height:80px;
} 
.monthGrid TD.contentdayweek { 
	BORDER-BOTTOM: #bfbfbf 1px solid; BORDER-RIGHT: #bfbfbf 1px solid;
	height:80px;BACKGROUND-COLOR: #F5F5F5; 
} 
.contentday td {
	border-radius: 8px;
}
.contentdayweek td {
	border-radius: 8px;
}