@CHARSET "UTF-8";

/* ====================== 主菜单的样式 ====================== */
.menubar {
  position: relative;
  height: 100%;
  width: 100%;
   background-color:#FFFFFF;
  border-top: 1px solid #999999;
  text-align: center;
  overflow:auto;
}

/*********************** 一级菜单栏样式 ***********************/
.menubar-main-ul {
	position: relative;
	width: 100%;
	text-align: center;
}

.menubar-main-ul .menubar-main-li {
	display: block;
	position: relative;
	list-style-type: none;
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color:#FFF;
/*	border-bottom: 1px solid #999999; */
/*	background: #E0ECFF !important; */
	background: url('../image/Button_new/menu_1.png') repeat-x center center!important; 

	width:100%;
}

.menubar-main-ul .menubar-main-li-over {
/*	background-color: #4F98F6;*/
/*	border-left: 1px solid #353535;*/
/*	border-right: 1px solid #353535;*/
}
.menubar-main-li .button{
	background: none !important; 
/*	background: #FFFFFF !important; */
	padding-top:5px;
	height: 21px !important; 
}
.menubar-main-li .button-over{
	color: #000000;
}
.menubar-main-li .button-click{
	background: url('../image/Button_new/menu_1.png') repeat-x center center!important; 
}
.menubar-child-li .button-click{
	background: none!important; 
}
.menubar-main-li a{
	color:#FFFFFF !important; 
}
.menubar-child-li a{
	color:#000000 !important; 
}
/*********************** 子菜单栏样式 ***********************/
.menubar-child-ul {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #FEFEFE !important; 
	color:#000000;
}
.menubar-child-ul .button-over,.menubar-child-ul .button-over{
	background:#E3E0E0 !important; 
}
.ul2 {
	display: block;
	border: 1px solid #CBCFDA;
	+border: 0px solid #CBCFDA;   /*ie7*/
	+margin-left: -30px;   /*ie7*/
	background-color: #FEFEFE;
	width:148px;
}
.menubar-child-ul .menubar-child-li {	
	padding-left:15px;
	display: block;
	position: relative;

	float: left;
	width: 100%;
	margin-left: 10px;
	
	/* border-top: 1px solid #999999; */
	/* background:transparent url(../image/collapse_arrow.png) no-repeat; */
	/* background:none; */
}
.menubar-child-li .button_now{	
	text-align : left;
	vertical-align :middle;
	padding-top:5px;
	height: 21px !important; 
}
.ul2 li{
	background:transparent url(../image/tree/L33.gif) no-repeat 0 5px;
}
.ul2 .li2 {
	background:transparent url(../image/tree/P3.gif) no-repeat 0 5px;
}
.li2 {
	background:transparent url(../image/tree/P3.gif) no-repeat 0 5px;
}
.menubar-child-ul .menubar-child-li-over {
	background-color: #4F98F6;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
}

	
.menubar-main-ul .menubar-main-li .button {
	/* background: #EDECEC; */

}
.menubar-main-ul .menubar-main-li .button-click {
	/* background: #626B78; */
	background: #4F98F6;
}
.menubar-main-ul .menubar-main-li .button-over {
	background: #4F98F6;
}
	
	
	