@CHARSET "UTF-8";

/* ====================== 主菜单的样式 ====================== */
.menubar {
  position: relative;
  background: url('../image/Button/bg-normal.png') repeat-x center center;
  background-color:#E1E1E1;
  border-bottom: 1px solid #999999;
  text-align: center;
}

/*********************** 一级菜单栏样式 ***********************/
.menubar-main-ul {
	display: inline;
	text-align: center;
}

.menubar-main-ul .menubar-main-li {
	position: relative;
	list-style-type: none;
	float: left;
	height: 100%;
	padding: 0px;
	margin: 0px 3px;
}

.menubar-main-ul .menubar-main-li-over {
	background-color: #4F98F6;
	border-left: 1px solid #353535;
	border-right: 1px solid #353535;
}


/*********************** 子菜单栏样式 ***********************/
.menubar-child-ul {
	position: absolute;
	z-index: 10;
	border: 1px solid #999999; 
	background-color: #E1E1E1;
	padding: 2px 2px;
}

.menubar-child-ul .menubar-child-li {	
	*display: inline;
	position: relative;
  	background: url('../image/Button/bg-normal.png') repeat-x center center;
	background-color: red;
	list-style-type: none;
	padding: 0px 0px;
}

.menubar-child-ul .menubar-child-li-over {
	background-color: #4F98F6;
	border-top: 1px solid #353535;
	border-bottom: 1px solid #353535;
}

.menubar-child-ul-visibility {
	display: '';
	visibility: hidden;
}

	
	
	
	