#massage_box{ position:absolute; left:expression((body.clientWidth-950)/2); top:expression((body.clientHeight-500)/2); width:950px; height:500px;filter:dropshadow(color=#666666,offx=3,offy=3,positive=2); z-index:2; visibility:hidden} 
.mask{ position:absolute; top:0; left:0; width:expression(body.scrollWidth); height:expression(body.scrollHeight); background:#666; filter:ALPHA(opacity=60); z-index:1; visibility:hidden} 
.massage{border:#036 solid; border-width:1 1 3 1; width:95%; height:95%; background:#fff; color:#036; font-size:12px; line-height:150%} 

.header{background:#036; height:45px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; padding:3 5 0 5; color:#fff} 

.headerX{float:right; display:inline; cursor:hand}

.headerTitle{display:inline;  position:absolute;}