		.head{
			background-color: #A00606;
			margin-left: auto;
			margin-right: auto;
			height:106px;
		}
		.logn{
 			margin:20px auto auto 20px;
 			border-right: #eee 1px dashed;
		}
		.login{
			float:right;
			margin:20px 20px auto auto;
		}
		.login a{
			COLOR: #ffffff;
		}
		.nav{
			BORDER-BOTTOM: #e3e3e3 3px solid;
			BACKGROUND-COLOR: #436372;
			WHITE-SPACE: nowrap;
			BACKGROUND-POSITION: 0px -440px;
			LETTER-SPACING: -3px;
			FONT-SIZE: 0px;
			border-bottom: 3px solid #E3E3E3;
			background-position: 0px -440px;
			height:33px;
		}
		.constr{
	/* 		MAX-WIDTH: 1280px;
			MARGIN-LEFT: auto;
			MARGIN-RIGHT: auto;
			height:33px; */
		}
		/*导航样式开始*/
		#nav { 
			 
			padding:8px; 
			margin:0px auto; 
			background:#3B5998;
			height:18px;
			
			BORDER-BOTTOM: #e3e3e3 3px solid;
			BACKGROUND-COLOR: #436372;
			WHITE-SPACE: nowrap;
			BACKGROUND-POSITION: 0px -440px;
			LETTER-SPACING: -3px;
			border-bottom: 3px solid #E3E3E3;
			background-position: 0px -440px;
		}
		#nav ul{
			MAX-WIDTH: 1280px;
			MARGIN-LEFT: auto;
			MARGIN-RIGHT: auto;
			height:33px;
			margin-top:-8px;
		}
		#nav ul li { 
			float:left; 
			margin:auto auto;
			position: relative ;
			z-index:100;
			height:33px;
			width:89px;
			
			BORDER-RIGHT: #211f1d 2px solid;
			PADDING-BOTTOM: 0px;
			LINE-HEIGHT: 33px;
			PADDING-LEFT: 1em;
			PADDING-RIGHT: 1em;
			DISPLAY: block;
			COLOR: #eee;
			FONT-SIZE: 14px;
			PADDING-TOP: 0px;
		}
		#nav ul li a { 
			display:block;
			font-weight:700;
			height:33px;
			COLOR: #fff;
			text-align:center;
		}
		#nav ul li a strong{
			margin:auto auto;
			width:100%;
			height:33px; 
			font-size:16px;
			
		}
		#nav ul li a:hover { 
			background:none; 
			color:#fff;
		}
		#nav ul li ul{
			background-color: #88C366;
			position: absolute;
			width: 80px;
			overflow:hidden;
			display:none;
		}
		#nav ul li:hover ul{
			background-color: #88C366;
			position: absolute;
			width: 100px;
			display:block;
		}
		#nav ul li ul li{
			border-bottom: 1px solid #BBB;
			text-align: left;
			width: 100%;
		}
		#nav_first{
			
		}