		.footer{
			text-align: center;
			line-height: 20px;
			color: #FFFFFF;
			height:90px;
			min-width:1002px;
			margin:0 auto;
			background: url('../../image/wsyd/main/top_bj4.png') repeat-x 5px center;
		}
		.detail_bar{
			height: 30px;
			min-width:1002px;
		}