		.head{
/* 			background-color: #A00606; */
			background: url('../../image/wsyd/main/top_bj4.png') repeat-x 5px center;
			margin-left: auto;
			margin-right: auto;
			height:120px;
			min-width:1002px;
		}
		.head2{
			top:0px;
			background: url('../../image/wsyd/main/top_bj22.png') repeat-x 0px center;
			margin-left: auto;
			margin-right: auto;
			height:54px;
			z-index:5;
		}
		.head_center{
			width:1002px;
			margin:0px auto;
		}
		.logn{
 			margin:0px auto auto 20px;
/*  			border-right: #eee 1px dashed; */
		}
		.logo_right{
			margin-top:-97px;
			float:right;
			z-index:-1;
			
		}
		.login{
			float:right;
			margin:20px 20px auto auto;
		}
		.login a{
			COLOR: #ffffff;
		}

		.constr{
	/* 		MAX-WIDTH: 1280px;
			MARGIN-LEFT: auto;
			MARGIN-RIGHT: auto;
			height:33px; */
		}
		/*导航样式开始*/
		.nav_ { 
			padding-top:8px; 
			padding-bottom:8px; 
			margin:0px auto; 
			background: url('../../image/wsyd/main/nav2.png') repeat-x 5px center;			
			height:24px;
		}
		.nav { 
/* 			padding-top:8px; 
			padding-bottom:8px; 
			margin:0px auto; 
			background: url('../../image/wsyd/main/nav2.png') repeat-x 5px center;			
			height:24px; */
			width:1002px;
			margin:0px auto; 
			background:none;
			/* 
			border-left: #ddd 1px solid;
			border-right: #ddd 1px solid; */
		}
		.nav ul{
			max-width: 1280px;
			margin-left: -117px;
			margin-right: auto;
			height:33px;
			margin-top:-8px;
		}
		.nav ul li { 
			float:left; 
			margin:auto auto;
			position: relative ;
			z-index:100;
			height:40px;
			min-width:89px;
			
			border-right: #C67E02 2px solid;
			padding-bottom: 0px;
			line-height: 40px;
			padding-left: 1em;
			padding-right: 1em;
			display: block;
			color: #c0c0c0;
			font-size: 14px;
			padding-top: 0px;
		}
		.nav ul li a { 
			display:block;
			font-weight:700;
			height:33px;
			COLOR: #543F29;
			text-align:center;
		}
		.nav ul li a strong{
			margin:auto auto;
			width:100%;
			height:33px; 
			font-size:16px;
			
		}
		.nav ul li a:hover { 
			background:none; 
			color:#fff;
		}
		.nav ul li ul{
			background-color: #88C366;
			position: absolute;
			width: 80px;
			overflow:hidden;
			display:none;
		}
		.nav ul li:hover ul{
			background-color: #88C366;
			position: absolute;
			width: 100px;
			display:block;
		}
		.nav ul li ul li{
			border-bottom: 1px solid #BBB;
			text-align: left;
			width: 100%;
		}
		.nav_first{
			
		}
		.center_head ,.center_head a{
			color : #333;
		}