body{line-height:1.4;color:#333;
	background-color: #FFFFFF;
	/* background-image: url('../../image/wsyd/main/bgr.gif'); */
}
body,input,textarea,select{font-size:12px;font-family:Arial,sans-serif}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form{margin:0}
ul,ol{padding-left:0;list-style-type:none}
h4,h5,h6{font-size:1em}
img{border:0}
.vimg{margin-bottom:-3px}
a{text-decoration:none}
a:hover{text-decoration:underline}
a.c:hover{text-decoration:none;color:#f30}